body {
  font-family: Arial;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

img {
  max-width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1080px;
}

.flex_column {
  display: flex;
  justify-content: space-around;
}

.flex_column_content div {
  border: 1px solid gray;
  padding: 10px;
 
}



/* Responsive Layout */

@media screen and (min-width: 480px) and (max-width: 750px) {
  .flex_column {
    display: block;
  }
  img {
    width: 100%;
  }
}
